{% extends "layouts/base.njk" %}
{% set title = "TFI Showcase | Gallery" %}

{% block content %}

<section class="container my-5">
  <h2 class="section-title">Gallery</h2>
  <div class="row g-3">
    <div class="col-6 col-md-3"><img src="/assets/images/gallery1.png" class="w-100 rounded"></div>
    <div class="col-6 col-md-3"><img src="/assets/images/gallery2.png" class="w-100 rounded"></div>
    <div class="col-6 col-md-3"><img src="/assets/images/gallery3.png" class="w-100 rounded"></div>
  </div>
</section>

{% endblock %}
